body {                          /*背景のグラデーションのやつ*/
  background: linear-gradient(-90deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)),
  url(images/bg-cherrybrossam.jpg);
  background-size: cover;
}
.thumbnail {                    /*枠*/
    width: 22.3333%;            /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    vertical-align:  top;       /* 要素を上揃えにする */
    background-color:  #f0ffff; /*BOXの色指定*/
    opacity: 0.6;
    margin-bottom: 10px;        /* 要素同士の隙間調整 */
    padding:  10px;             /* 余白指定 */
    box-sizing: border-box;     /* 崩れ防止 */
}
.thumbnail2 {                    /*枠*/
  width: 100%;            /* 幅指定 */
  display:  inline-block;     /* インラインブロック要素にする */
  vertical-align:  top;       /* 要素を上揃えにする */
  background-color:  #f0ffff; /*BOXの色指定*/
  opacity: 0.6;
  margin-bottom: 10px;        /* 要素同士の隙間調整 */
  padding:  10px;             /* 余白指定 */
  box-sizing: border-box;     /* 崩れ防止 */
}
