html {
  --main-color: #f0ffff90;
}

body {
  background-size: 200vw 200vh;
  background: linear-gradient(-90deg, rgba(255, 0, 161, .8), rgba(246, 255, 0, .8), rgba(255, 0, 161, .8));
  animation: 15s linear infinite mvbg;
}

#header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 10px;
  /* flex-wrap: wrap; */
  overflow: auto;
}

.flex-row-gap-0\.5 {
  display: flex;
  gap: 0.5rem;
}

@keyframes mvbg {
  0% {
    background-position: 0vw 0vh;
  }
  100% {
    background-position: 100vw 0vh;
  }
}

.thumbnail {
  width: 100%;
  /* display: inline-block; */
  /* vertical-align: top; */
  background-color: var(--main-color);
  /* opacity: 0.6; */
  /* margin: 0.5rem; */
  padding: 1rem;
  box-sizing: border-box;
  /* aspect-ratio: 2/1; */
  min-width: 16rem;
}

.content-wrap {                    /*枠*/
  width: 100%;            /* 幅指定 */
  display:  inline-block;     /* インラインブロック要素にする */
  vertical-align:  top;       /* 要素を上揃えにする */
  background-color: var(--main-color); /*BOXの色指定*/
  /* opacity: 0.6; */
  margin-bottom: 1rem;        /* 要素同士の隙間調整 */
  padding:  1rem;             /* 余白指定 */
  box-sizing: border-box;     /* 崩れ防止 */
}

.content-title {
  display: flex;
  justify-content: space-between;
}

img.side_image1 {
  opacity: 0.8;
  /* filter: opacity(0.5); */
  min-width: 8rem;
}

.posts {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.page-thumbnail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--main-color);
}